
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}

#rectangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 737px;
    background-color: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.22;
    z-index: -1;
}

header{
    margin-top: 60px;
    text-align: end;
    opacity: 0.6;
}

ul{
    list-style: none;
    display: inline;
    margin-right: 60px;

}

header nav ul li{
    display: inline;
    margin-right: 60px;
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.apresentation{
    margin: 80px 100px 100px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apresentation .left-apresentation{
    max-height: 400px;
    margin-right: 48px;
    align-items: center;
}

.apresentation .left-apresentation h1{
    color: #999999;
    font-size: 80px;
    font-weight: 700;
    max-width: 400px;
}
.apresentation .left-apresentation h3{
    color: #6D6D6D;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    margin-bottom: 70px;
}

#line-apresentation{
    background-color: #D8D8D8;
    width: 1px;
    height: 50vh;
    margin-right: 70px;
}

.apresentation .left-apresentation button{
    padding: 25px 80px;
    border: none;
    background-color: #FFE8E8;
    
}

.apresentation .left-apresentation button a{
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}

.apresentation .right-apresentation{
    margin-bottom: 70px;
}

.apresentation .right-apresentation .about p{
    color: #6D6D6D;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.apresentation .right-apresentation .social-media a{
    text-decoration: none;
    margin-right: 45px;
    color: #000000;
}

.qualifications {
    margin-top: 250px;
    text-align: center;
}

.qualifications h1, #projects h1{
    font-size: 50px;
    color: #999999;
    font-weight: 700;
    text-align: center;
}
.qualifications p{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.professional, .educational{
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}
.professional{
    margin-left: 57px;
}

.qualifications h2{
    margin: 10px 0px;
    color: #6D6D6D;
}

.professional  h3, .educational h3{
    font-size: 16px;
    margin-bottom: 3px;
    margin-top: 15px;
    color: #6D6D6D;
}
.professional p, .educational p{
    font-size: 14px;
    text-align: right;
    color: #999999;
}

#line-professional{
    background-color: #D8D8D8;
    width: 1px;
    height: 12vh;
    margin: 0px 45px;
    z-index: -1;
}
#line-professional img{
    width: 40px;
    position: relative;
    top: 15px;
    right: 20px;
}


.professional .right-professional h3, p, .educational .right-educational h3, p, li{
    text-align: left;
    max-width: 400px;

}

#line-educational{
    background-color: #D8D8D8;
    width: 1px;
    height: 40vh;
    margin: 0px 45px;
    z-index: -1;
}

#line-educational img{
    width: 40px;
    position: relative;
    top: 15px;
    right: 20px;
}

#line-educational #two{
    top: 160px;
}

.pos-left{
    margin-bottom: 155px;
}
.pos-right h3 {
    max-width: 230px;
    margin-bottom: 10px;
}
.grad-right h3{
    margin-bottom: 10px;
}

.pos-right ul, .grad-right ul{
    margin-top: 15px;
    color: #999999;
    max-width: 500px;
    list-style: square;
}

#services, #contact{
    margin-top: 20px;
    padding: 20px 0px 50px 0px;
    background-color: #e5e4e4;
    text-align: center;
}

#services h1{
    margin-top: 20px;
    color: #6D6D6D;
    font-size: 40px;
    font-weight: 700;
}

.services-types{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

#services .services-types img{
    width: 50px;
    margin-bottom: 10px;
}

.web, .ui-ux, .mobile{
    max-width: 30%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.web p, .ui-ux p, .mobile p{
    margin-top: 15px;
    text-align: center;
    color: #999999;
    padding: 0px 40px;
}
#projects{
    height: 600px;
    padding: 20px;
    text-align: center;
}

#projects h2{
    margin-top: 20%;
}

#contact{
    text-align: left;
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contact .text{
    max-width: 50%;
    margin-right: 50px;
}

#contact .text p{
    padding: 20px;
}
#contact img{
    width: 25px;
    margin-right: 10px;
}

.email, .telegram, .loc{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}